<div class="container">
	<main class="innerContainer">
		<div class="movie">
			<h3 class="movieTitle">{{movieTitle}}</h3>
			<div class="movieDetails">Screen No: {{screen}} | Date & Time: {{time}}</div>
		</div>
		<div class="legend">
			<span class="glyphicon glyphicon-stop freeSeat">[_]</span> FREE
			<span class="glyphicon glyphicon-ban-circle reservedSeat padding-left">[_]</span> TAKEN
			<span class="glyphicon glyphicon-ok-sign selectedSeat padding-left">[_]</span> SELECTED
		</div>
		<p class="font14 marginTop5">SCREEN THIS WAY</p>
		<div class="screen"></div>
		<div *ngIf="noOfRows > 0">
				<p class="gold">{{type}}</p>
			<div *ngFor="let row of rows">
				<span class="seat" *ngFor="let col of cols"  let i=index (click)="seatClicked(row + col)" [ngSwitch]="getStatus(row + col)">
					<div *ngIf >
						<br>
							passage Way
						<br>
					</div>	 	
					<span *ngSwitchCase="'selected'" class="glyphicon glyphicon-ok-sign selectedSeat">[_]</span>
					<span *ngSwitchCase="'reserved'" class="glyphicon glyphicon-ban-circle reservedSeat">[_]</span>
					<span *ngSwitchDefault class="glyphicon glyphicon-stop freeSeat">[_]</span>
				</span>
			</div>
		</div>

		<div *ngIf="noOfRows > 0">
				<p class ="silver">{{type2}}</p>
			<div *ngFor="let row of rows2">
				<span class="seat" *ngFor="let col of cols2"  let i=index (click)="seatClicked2(row + col)" [ngSwitch]="getStatus2(row + col)">
					<div *ngIf >
						<br>
							passage Way
						<br>
					</div>	 	
					<span *ngSwitchCase="'selected'" class="glyphicon glyphicon-ok-sign selectedSeat">[_]</span>
					<span *ngSwitchCase="'reserved'" class="glyphicon glyphicon-ban-circle reservedSeat">[_]</span>
					<span *ngSwitchDefault class="glyphicon glyphicon-stop freeSeat">[_]</span>
				</span>
			</div>
		</div>
		<!-- <div *ngIf="selected.length > 0" class="font14 marginTB10">
			<div class="wordWrap">SEATS RESERVED : {{selected.length}} <span class="count">({{selected}})</span></div>
			<div>PRICE : {{ticketPrice}} * {{selected.length}} = {{currency}}.{{ticketPrice*selected.length}} </div>
			<div>CONVENIENCE FEE : {{currency}}.{{convFee}}</div>
			<div>TOTAL : {{currency}}.{{ticketPrice * selected.length + convFee}}</div>
		</div> -->
		<div class="buttonBar marginTop5">
			<button (click)="clearSelected()" [disabled]="selected.length === 0 "  [disabled]="selected2.length === 0" class="btn btn-default btn-sm">Clear</button>
			<button (click)="showSelected()" [disabled]="selected.length === 0"  [disabled]="selected2.length === 0" class="btn btn-success btn-sm">Buy
				Tickets</button>
		</div>
	</main>
</div>